@charset 'UTF-8';
@font-face {
    font-family: 'SourceHanSansJP-Normal';
    src: url('../font/SourceHanSansJP-Normal.otf') format('opentype');
}

body {
    margin: auto;
    text-align: center;
}

/**
* 画面全般
*/

div.total-field {
    display: flex;
    width: 800px;
    height: 600px;
    margin: 20px auto auto auto; /* 左右中央配置用 */
    border: 1px solid maroon;
}

/**
* ゲームエリアUI
*/

div.total-field > div.game-field {
    width: 600px;
    height: 600px;
    border: 1px solid orange;
    background: #5d993a;
}

div.total-field > div.game-field > div.play-field {
    width: 600px;
    height: 500px;
    border: 1px solid yellow;
    background: #3d761b;
}

/**
* 情報エリアUI
*/

div.total-field > div.info-field {
    width: 200px;
    height: 600px;
    border: 1px solid lime;
    background: #b4df9a;
}

div.total-field > div.info-field > div.message-field {
    height: 400px;
    border: 1px solid magenta;
}

div.total-field > div.info-field > div.message-field > textarea {
    height: 350px;
    resize: none;
}

div.total-field > div.info-field > div.controller-field {
    height: 200px;
    border: 1px solid cyan;
    background: #86ba67;
}

div.total-field > div.info-field > div.controller-field > textarea {
    height: 150px;
    resize: none;
}
